<template name="item">
  <div class="template-item">

    <div class="col s12 m6 l4">
      <div class="card blue">
        <div class="card-content white-text">
          <span class="card-title">Tree1</span>
          <p>Here is my first leaf that has information in that I want to remember the rest of my life!</p>
        </div>
        <div class="card-action">
          <span class="left">Branch1</span>
          <span class="right">Branch2</span>
        </div>
      </div>
    </div>

  </div>
</template>
