<Template name="subscribe">

  <h4>Subscribe</h4>

  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
        </div>
      </form>
    </div>
  </nav>

  <div class="row">
    <div class="col s11 m11 l10 offset-s1 offset-m1 offset-l1">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title black-text">
            <div class="left">
              <h5>Church Notes</h5>
              <h6> By Crossroads</h6>
            </div>
            <div class="makePicL1 right">
              <div class="card-image">
                <img src="images/crossroads_coffeeCup.jpg">
                <!-- <img src="images/pleaseUploadImage.png"> -->
              </div>
            </div>
          </span>
          <br><br><br>
          <p>This is from Crossroads and puts the most important parts of the church service into this tree each week.</p>
        </div>
        <div class="card-action">
          <a class="btn" href="#"><i class="fa fa-rss"> Subscribe</i></a>
          <!-- <a href="#" class="red-text">Unsubscribe</a> -->
        </div>
      </div>
    </div>
  </div>

</Template>
