<Template name="leafTextNew">

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <br>
        <form class="col s12 m12 l12">
          <div class="row">
            <div class="input-field col s12 m6 l6 teal-text text-lighten-1">
              <select>
                <option value="" disabled selected>Choose a Tree</option>
                <option value="1">Tree1</option>
                <option value="1">Tree2</option>
                <option value="1">Tree3</option>
                <option value="1">Tree4</option>
                <option value="1">Tree5</option>
              </select>
              <label class="blue-text text-darken-4">Tree</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea id="name" class="materialize-textarea" length="600"></textarea>
              <label for="name" class="blue-text text-darken-4">Leaf</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6 teal-text text-lighten-1">
              <select>
                <option value="" disabled selected>Choose a Top Branch</option>
                <option value="1">Branch1</option>
                <option value="1">Branch2</option>
                <option value="1">Branch3</option>
                <option value="1">Branch4</option>
                <option value="1">Branch5</option>
              </select>
              <label class="blue-text text-darken-4">Top Branch</label>
            </div>
            <div class="input-field col s12 m6 l6 teal-text text-lighten-1">
              <select>
                <option value="" disabled selected>Choose a Lower Branch</option>
                <option value="1">Low Branch1</option>
                <option value="1">Low Branch2</option>
                <option value="1">Low Branch3</option>
                <option value="1">Low Branch4</option>
                <option value="1">Low Branch5</option>
              </select>
              <label class="blue-text text-darken-4">Lower Branch</label>
            </div>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn right" data-action="submit"><i class="material-icons right">send</i>Submit</a>
            <br>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>

</Template>
