<Template name="settings_YourInfo">

  <div class="row">
    <div class="col s11 m8 l6 offset-s1 offset-m1 offset-l1">
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m12 l12">
              <table>
                <tbody>
                  <tr>
                    <td><b>Display Name</b></td>
                    <td>niemilkm</td>
                    <td><a class="waves-effect waves-light btn-small">Edit</a></td>
                  </tr>
                  <tr>
                    <td><b>Email</b></td>
                    <td>niemilkm@gmail.com</td>
                    <td><a class="waves-effect waves-light btn-small">Edit</a></td>
                  </tr>
                  <tr>
                    <td><b>About</b></td>
                    <td></td>
                    <td><a class="waves-effect waves-light btn-small">Edit</a></td>
                  </tr>
                </tbody>
              </table>
              <p class="col offset-l1">Here is my About section where I can tell you a lot about myself and why I use this site. Pretty exciting stuff!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</Template>

<template name="garbage_yourInfo">
  <form>
    <div class="row">
      <div class="row">
        <div class="col s3 m3 l2 offset-l1 offset-s1 offset-m1">
          <span>Display Name:</span>
        </div>
        <div class="col s3 m3 l2">
          <span>niemilkm</span>
        </div>
        <div class="col s3 m3 l2">
          <span><a class="waves-effect waves-light btn-small">Edit</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col s3 m3 l2 offset-l1 offset-s1 offset-m1">
          <span>Email:</span>
        </div>
        <div class="col s3 m3 l2">
          <span>niemilkm@gmail.com</span>
        </div>
        <div class="col s3 m3 l2">
          <span><a class="waves-effect waves-light btn-small">Edit</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6 l4 offset-l1 offset-s1 offset-m1">
          About:
        </div>
        <div class="col s3 m3 l2">
          <span><a class="waves-effect waves-light btn-small right">Edit</a></span>
        </div>
      </div>
      <div class="col s8 m6 l4 offset-l1 input-field">
        <textarea id="textarea1" class="materialize-textarea">sdfg</textarea>
        <!-- <label for="textarea1" class="black-text">About:</label> -->
      </div>
    </div>
  </form>
</template>
